deploy/frontend/node_modules
deploy/backend/node_modules
src/key_gen/target

contracts/artifacts
contracts/build/
contracts/docs/

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.log
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/pnpm-debug.log*
dashboard/lerna-debug.log*

dashboard/node_modules
dashboard/dist
dashboard/dist-ssr
*.local